<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<header>
  <h1 class="text-header"> Сторіночка про нас </h1>
</header>
<body>
  <div>
    <p class="text-midl-center-shadow"><b>Контакти</b></p>
    <p class="text-midl"> Контактні дані для того щоб Ви могли зв'язатись з нами:
    <p class="text-midl">тел. +3809709200,</p>
    <p class="text-midl">тел. +3806709222,</p>
    <p class="text-midl">тел. +3806355550,</p>
    <p class="text-midl">email: <b>history_post@gmail.com</b></p>

    <p class="text-midl">Де б ти не був, і як би всім не було похрен на твою думку то знай, що на цьому сайті ти можеш поділитись своєю думкою, або не ділитись нею. </p>
    <p class="text-midl">В цілому тобі рішати!</p>
     <p class="text-midl">То типу я зробив ілюзію вибору))) Іди і напиши історію про когось, так цікавіше!</p>
    </p>
  </div>

</body>
{% endblock %}
</body>
</html>