<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/profit_report/<start_date>/<end_date>" method="post" class="" >
    <h1>Profit Report</h1>
    <p>Start Date: {{ start_date }}</p>
    <p>End Date: {{ end_date }}</p>
    <p>Total Income: {{ total_income }}</p>
    <p>Total Profit: {{ total_profit }}</p>
</body>
</html>
